plugins {
    id 'nf-amazon'
}

profiles {
    standard {
      includeConfig './conf/jonai.conf'
      includeConfig './local.config'
    }
    jonai {
      includeConfig './conf/jonai.conf'
      includeConfig './local.config'
    }
    batch {
      includeConfig './conf/jonai.conf'
      includeConfig './conf/batch.conf'
      includeConfig '/home/jon/GIS/aws/nextflow_aws_credentials.conf'
      //includeConfig './local.config'
      includeConfig './local_batch.config'
    }
}
