// Does not work on acrc for some reason. Use command line
//plugins {
//    id 'nf-amazon'
//}

profiles {
    standard {
      includeConfig './conf/default.conf'
      includeConfig './local.config'
    }
    jonai {
      includeConfig './conf/default.conf'
      includeConfig './conf/jonai.conf'
      includeConfig './local.config'
    }
    acrc {
      includeConfig './conf/default.conf'
      includeConfig './conf/acrc.conf'
      includeConfig './local.config'
    }
    batch {
      includeConfig './conf/default.conf'
      includeConfig './conf/batch.conf'
      includeConfig '/home/jon/GIS/aws/nextflow_aws_credentials.conf'
      includeConfig './local_batch.config'
    }
}
