params {
  //============ Decont ===========
  decontIndex             = "$HOME/scratch/databases/refseq/homosapien/GRCh38_latest_genomic.fna.gz"
  //=========== Kraken ===========
  krakenDB                = "$HOME/scratch/databases/kraken/databases/standard"
  //============ Humann ===========
  humannDB_Uniref         = "$HOME/scratch/databases/humann/database_2022_04_10/uniref"
  humannDB_Chocophlan     = "$HOME/scratch/databases/humann/database_2022_04_10/chocophlan"
  humannDB_bt2Chocophlan  = "$HOME/scratch/databases/humann/database_2022_04_10/bt2chocophlan"
  humannDB_Util           = "$HOME/scratch/databases/humann/database_2022_04_10/utility_mapping"
  humannDB_index          = "mpa_v31_CHOCOPhlAn_201901"
}

singularity {
      enabled = true
      autoMounts = true
      cacheDir = "$HOME/sharing/.singularity/cache"
}

executor {
      name = "slurm"
      queueSize = 10
      // queueSize affects transient storage required on the cluster
}

process {
    withName: BWA {
        cpus = 16
        memory = 32.GB
        queue = 'normal' //normal, express, long
        time = '1day' //hh:mm:ss
        container = "$HOME/sharing/singularity/bwa_v0.7.17_cv1.sif"
    }
    withName: MAPPED {
        cpus = 16
        memory = 32.GB
        queue = 'normal' //normal, express, long
        time = '1day' //hh:mm:ss
        container = "$HOME/sharing/singularity/bwa_v0.7.17_cv1.sif"
    }
    withName: FASTP {
        cpus = 16
        memory = 32.GB
        queue = 'normal' //normal, express, long
        time = '1day' //hh:mm:ss
        container = "$HOME/sharing/singularity/fastp_v0.20.1_cv1.sif"
    }
    withName: DECONT {
        cpus = 16
        memory = 32.GB
        queue = 'normal' //normal, express, long
        time = '1day' //hh:mm:ss
        container = "$HOME/sharing/singularity/bwa_v0.7.17_cv1.sif"
    }
    withName: KRAKEN2 {
        cpus = 16
        memory = 32.GB
        queue = 'normal' //normal, express, long
        time = '1day' //hh:mm:ss
        container = "$HOME/sharing/singularity/kraken.sif"
    }
    withName: BRACKEN {
        cpus = 16
        memory = 32.GB
        queue = 'normal' //normal, express, long
        time = '1day' //hh:mm:ss
        container = "$HOME/sharing/singularity/kraken.sif"
    }
    withName: HUMANN3 {
        executor.$slurm.queueSize = 3 //Otherwise, you may run into space issue.
        cpus = 16
        memory = 32.GB
        queue = 'normal' //normal, express, long
        time = '1day' //hh:mm:ss
        container = "$HOME/sharing/singularity/humann3.1.1.sif"
    }
    withName: SRST2 {
        cpus = 16
        memory = 32.GB
        queue = 'normal' //normal, express, long
        time = '1day' //hh:mm:ss
        container = "$HOME/sharing/singularity/srst2.sif"
    }
    withName: RGI {
        cpus = 16
        memory = 32.GB
        queue = 'normal' //normal, express, long
        time = '1day' //hh:mm:ss
        container = "$HOME/sharing/singularity/rgi.sif"
    }
    withName: CENTRIFUGE {
        cpus = 16
        memory = 32.GB
        queue = 'normal' //normal, express, long
        time = '1day' //hh:mm:ss
        container = "$HOME/sharing/singularity/centrifuge.sif"
    }
    withName: TEST {
        cpus = 8
        memory = 30.GB
        queue = "normal" //normal, express, long
        time = '20minutes' //'1day 6hours 3minutes 30seconds'
        container = "$HOME/sharing/singularity/ubuntu:18.04.sif"
    }
}
