params {
  //Note: Check local.config for additional default settings
  //=========== Inputs/Outputs ===========
  querydir                = ""
  //default queryglob is "*_{1,2}*{fastq,fastq.gz,fq,fq.gz}" as defined in main.nf
  //queryglob might be overwritten in local.config. Do check
  default_queryglob       = ""
  queryglob               = ""
  readtype                = "fastp"
  fastpreads              = true
  rawreads                = false
  overwrite               = false
  size                    = 2 //Number of input files
  //=========== Kraken ===========
  krakenDB                = ""
  krakenReadlength        = 100
  krakenMMAP              = false
  krakenKeepOutput        = false
  krakenThreads	          = 12
  //=========== Test ===========
  testDatabase            = "/home/jon/GIS/code/metagenomic_nf/extra/testDatabase.txt"
}

docker {
    enabled = true
}

executor {
    name = 'local'
    queueSize = 1
}

process {
    cpus = 12 //based on maximum threads on i7 8700k. Change accordingly when upgrading cpu
    withName: KRAKEN2 {
        container = "macadology/kraken2"
    }
    withName: BRACKEN {
        container = "macadology/kraken2"
    }
}
